html {
    font-size: 62.5% !important;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, 
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

.title {
    font-size: $font-large;
    color: $color-black;
    margin-bottom: 2.4rem;
}

.textbox {
    font-family: Ubuntu;
    font-size: $font-medium;
    color: $color-black;
    padding: 6px 10px;
    border: 1px solid $color-grey-12;
    border-radius: $border-radius;
    display: block;
    width: 30rem;
    margin-bottom: 1.6rem;

    &:focus {
        outline: none;
        border: 1px solid $color-grey-24;
    }
}

.button {
    font-family: Ubuntu;
    font-size: $font-medium;
    padding: 8px 20px;
    border-radius: $border-radius;
    border: none;
    margin-top: 0.8rem;
    background-color: $color-primary;
    color: $color-white;
    cursor: pointer;

    &:focus {
        background-color: $color-primary;
        outline: none;
    }

    &:hover {
        background-color: darken($color-primary, 10%);
    }

    &:active {
        background-color: darken($color-primary, 20%);
        outline: none;
    }

    &:disabled {
        background-color: $color-grey-24;
        cursor: not-allowed;
    }
}

.text {
    font-size: 1.6rem;
    width: 100%;
    padding: .8rem;
    border: 1px solid $color-grey-12;

    &:focus {
        outline: none;
        border: 1px solid $color-grey-24;
    }

    &::placeholder {
        color: $color-grey-12;
    }
}

a {
    color: $color-primary;
    text-decoration: none;

    &:hover {
        color: darken($color-primary, 20%);
        text-decoration: underline;
    }

    &:active {
        color: darken($color-primary, 30%);
    }
}

h1 {
    font-size: $font-xlarge;
}