$font-small: 1rem;
$font-normal: 1.2rem;
$font-medium: 1.6rem;
$font-large: 2.4rem;
$font-xlarge: 3.2rem;
$font-xxlarge: 4rem;

$border-radius: 4px;

$color-black: #000;
$color-grey-5: rgba(0,0,0,.05);
$color-grey-8: rgba(0,0,0,.08);
$color-grey-12: rgba(0,0,0,0.12);
$color-grey-16: rgba(0,0,0,.16);
$color-grey-24: rgba(0,0,0,0.24);
$color-grey-48: rgba(0,0,0,.48);
$color-grey-72: rgba(0,0,0,.72);
$color-white: #fff;
$color-red: #ff420ecc;
$color-green: #89da59cc;

$color-bg: #dfdce3;
$color-bg-transparent: #dfdce3f0;
$color-top: #4abdac;
$color-primary: #fc4a1a;
$color-secondary: #f7b733;