.category {
    &__links {
        list-style: none;
        margin-top: 2.4rem;
    }

    &__link {
        vertical-align: text-bottom;
        
        &__timestamp {
            width: 12rem;
            padding-bottom: 1rem;
        }

        &__claps {
            color: $color-top;
        }

        &__clap {
            width: 5rem;
            text-align: center;
        }

        &__title {
            width: 60rem;
            a {
                font-size: $font-medium;
            }
        }
    }
}
