.topics {
    display: flex;
    width: 100%;
    min-height: 100vh;

    &__nav {
        transition: flex-basis 0.3ms ease-in-out;
        flex: 0 0 24rem;
        background-color: $color-bg-transparent;

        @media screen and (max-width: 768px) {
            position: fixed;
            min-height: 100vh;
        }

        svg {
            fill: $color-primary;
        }

        &--collapse {
            position: static;
            flex: 0 0 3.2rem;
            padding-top: 5.6rem;
            text-align: center;
        }

        &__topic {
            margin-top: 4rem;
            font-size: $font-xlarge;
            text-align: center;
            a {
                text-decoration: none;
                margin-right: 1.6rem;
            }
        }

        .nav {
            margin-top: 4rem;
        }
    }

    &__content {
        flex: 1;
        padding: 4rem;
    }
}