.topic {
    &__categories {
        margin-top: 2.4rem;
        width: 100%;
    }

    &__category {
        font-size: $font-normal;
        margin-top: 2.4rem;

        &__name {
            font-size: $font-large;
            line-height: 1.5;
        }

        &__desc {
            margin-top: 0.8rem;
            font-size: $font-medium;
        }
    }
}