.topics {
    display: flex;
    width: 100%;
    min-height: 100vh;

    &__nav {
        flex: 0 0 24rem;
        background-color: $color-bg;

        &__topic {
            margin-top: 4rem;
            font-size: $font-xlarge;
            text-align: center;
            a {
                text-decoration: none;
            }
        }

        .nav {
            margin-top: 4rem;
        }
    }

    &__content {
        flex: 1;
        padding: 4rem;
    }
}