.nav {
    list-style: none; 
    font-size: $font-medium;

    &__item {
        padding: 0.8rem 3.2rem;

        &--active {
            background-color: $color-grey-12;
        }

        &:hover {
            background-color: $color-grey-8;
            cursor: pointer;
        }

        a:hover {
            text-decoration: none;
        }
    }
}