.nav {
    list-style: none; 
    font-size: $font-medium;

    &__item {
        padding: 0.8rem 3.2rem;
        transition: background-color 200ms;

        &--active {
            background-color: darken($color-bg, 10%);
        }

        &:hover {
            background-color: darken($color-bg, 5%);
            cursor: pointer;
        }

        a:hover {
            text-decoration: none;
        }
    }
}